<div class="turtle">
  <mat-card class="all-done-card">
      <mat-card-title-group>
          <mat-card-title>Wow, you've hit the bottom!</mat-card-title>
          <mat-card-subtitle>There's nothing left to do right now. You could take this time to add a new task, but perhaps it'd be better to enjoy a walk outside or some time with friends.</mat-card-subtitle>
      </mat-card-title-group>
  </mat-card>
</div>

<mat-toolbar class="button-row">
  <button mat-flat-button class="action-button all-done-button">Add a Task</button>
</mat-toolbar>
