<mat-action-list>
  <button mat-list-item>
    <span mat-line style="font-weight: bold;" (click)="reasonClicked(1)">Too Tough</span>
    <span mat-line>Let's do something easier</span>
  </button>
  <button mat-list-item>
    <span mat-line style="font-weight: bold;" (click)="reasonClicked(2)">No Time</span>
    <span mat-line>Let's swap to something quicker</span>
  </button>
  <button mat-list-item>
    <span mat-line style="font-weight: bold;" (click)="reasonClicked(0)">Just No</span>
    <span mat-line>We're not feeling it</span>
  </button>
</mat-action-list>
