.addTaskButton {
    background-color: #0076BE;
    margin: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    position: relative;
}

.doTaskButton {
    background-color: #95D8EB;
    margin: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    position: relative;
}

img {
    background-size: cover;
}

.main {
    background-image: url("../../assets/turtle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 100%;
}

.main .row {
    position: absolute;
    bottom: 0%;
    width: 100%;
}
